.main-listaDeDesejos-produtos{
    display: flex;
    flex-direction: column;
    
    .div-listaDeDesejos-cards-produtos{
        display: flex;
        flex-direction: row;
    }
    .card-listadeDesejos-imagem-tamanho{
        display: flex;
        flex-direction: column;
    }
    .card-div-imagem{

    }
    .card-div-imagem img{
        
    }
    .div-input-tamanhos{
        display: flex;
        flex-direction: row;
    }
    .div-input-tamanhos input{

    }
    .card-listadeDesejos-infosProd{
        display: flex;
        flex-direction: column;
    }
    .card-listadeDesejos-tituloProd{

    }
    .card-listadeDesejos-subtituloProd{

    }
    .card-listadeDesejos-valorProd{

    }
    .card-listadeDesejos-refValor{

    }
    .card-listadeDesejos-qtdParcela{

    }
    .card-listadeDesejos-parcelasProd{

    }

    .card-listadeDesejos-botãoAddCarrinho{

    }
    .card-listadeDesejos-botãoAddCarrinho button{

    }

    .card-listadeDesejos-comprar{

    }
    .card-listadeDesejos-comprar button{

    }

    .card-listadeDesejos-logoCoração{

    }

    .card-listadeDesejos-logoCoração img{

    }



}
