.main-listaDeDesejos-produtos{
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    
    .div-listaDeDesejos-cards-produtos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70em;
        height: 24em;
        margin-bottom: 3em;
        box-shadow: 4px 4px rgb(226, 226, 226);
    }
    .card-listadeDesejos-imagem-tamanho{
        display: flex;
        flex-direction: column;
       margin-left: 3em;
    }
    .card-div-imagem-img{
        width: 18em;
    }
    .div-input-tamanhos{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .listaDesejos-input-tamanhos{
        width: 2em;
        height: 2em;
        opacity: 80%;
        text-align: center;
        border-radius: 1em;
    }
    .card-listadeDesejos-infosProd{
        display: flex;
        flex-direction: column;
        width: 30em;
        height: 20em;
        margin-left: 10em;
        box-shadow: 4px 4px rgb(226, 226, 226);
    }

    .card-listadeDesejos-tituloProd{
        font-size: 2em;
        font-weight: 500 ;
        margin-bottom: .5em ;
        margin-top: .3em;

    }
    .card-listadeDesejos-subtituloProd{
        font-size: 1em;
        font-family: 'caviar';
        font-weight: 500 ;
        margin-bottom: 1em ;
    }

    .card-listadeDesejos-valorProd{
        font-size: 1.8em;
        margin-bottom: .3em ;
        margin-top: .3em;
    }
    .card-listadeDesejos-refValor{
        font-size:  1.1em;
        margin-bottom: .2em ;
        margin-top: .3em;
    }

    .card-listadeDesejos-qtdParcela{
        font-size: .8em;
        font-family: 'caviar';
        font-weight: 500 ;
        margin-bottom: 1em ;
    }
    .card-listadeDesejos-parcelasProd{
        font-size: .8em;
        font-family: 'caviar';
        font-weight: 500 ;
        margin-bottom: 1em ;
    }

    .card-listadeDesejos-botãoAddCarrinho{
        margin-top: .2em;
    }
    .card-listadeDesejos-botãoAddCarrinho-button{
        width: 18em;
        font-size: 0.8em;
        border-radius: .8em;
        font-weight: 500 ;
        height: 3.5em;
        background-color: #1B130D;
        color: #fff;
    }

    .card-listadeDesejos-comprar{
        margin-top: 1em;
    }
    .card-listadeDesejos-comprar-button{
        width: 18em;
        font-size: 0.8em;
        border-radius: .8em;
        font-weight: 500 ;
        height: 3.5em;
        background-color: #1B130D;
        color: #fff;
    }
    .card-listadeDesejos-logoCoração{
        margin-top: -19em;
    }
}
