.main-login{

    .section-login{
        display: flex;
        flex-direction: row;
        .div-dashboard-login{
            display: flex;
            flex-direction: column;
            textarea:focus, input:focus {
                box-shadow: 0 0 0 0;
                outline: 0;
            }

            .div-dashboard-login-img1{
                position: absolute;
                width: 140px;
                height: 124px;
                left: 219px;
                top: 186px;
            }

            .div-dashboard-login-tit1{
                position: absolute;
                width: 261px;
                height: 35px;
                left: 159px;
                top: 374px;

                font-family: 'caviar';
                font-size: 40px;
                line-height: 46px;
            }

            .div-dashboard-login-usuario{
                position: absolute;
                width: 25em;
                height: 20px;
                left: 120px;
                top: 500px;
                
                font-family: 'caviar';
                font-size: 15px;
                line-height: 14px;

                border: 0px;
                border-bottom: 1px solid #000;
            }

            .div-dashboard-login-senha{
                position: absolute;
                width: 25em;
                height: 20px;
                left: 120px;
                top: 560px;
                
                font-family: 'caviar';
                font-size: 15px;
                line-height: 14px;

                border: 0px;
                border-bottom: 1px solid #000;
            }

            .div-dashboard-login-erro {
                position: relative;
                top: 38em;
                left: 13.5em;
            
            }

                
            .div-dashboard-bt{
                position: absolute;
                left: 120px;
                top: 677px;

                font-family: 'caviar';
                font-size: 20px;
                line-height: 25px;

                color: #FFFFFF;

                background-color: #000000;
                width: 365px;
                height: 43px;
                
                border: 0px;
                cursor: pointer;
            }

                .div-dashboard-desc2{
                    position: absolute;
                    width: 101px;
                    height: 13px;
                    left: 120px;
                    top: 730px;

                    font-family: 'caviar';
                    font-size: 12px;
                    line-height: 14px;
                }

                .div-dashboard-desc3{
                    position: absolute;
                    width: 70px;
                    height: 13px;
                    left: 120px;
                    top: 750px;

                    font-family: 'caviar';
                    font-size: 12px;
                    line-height: 14px;
                }

                .div-dashboard-desc4{
                    position: absolute;
                    width: 100px;
                    height: 15px;
                    left: 30px;
                    top: 900px;

                    font-family: 'caviar';
                    font-size: 10px;
                    line-height: 12px;
                }

        }

        .div-imagem{
            .div-imagem-1{
                position: absolute;
                width: 708px;
                height: 100%;
                left: 572px;
                top: 0px;
                filter: blur(2px);
            }
        }
    }


}