.main-login{
    display: flex;
    flex-direction: column;

    textarea:focus, input:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
    }   

    .section-login{
        display: flex;
        flex-direction: row;
    }
    .div-dashboard-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }
    .div-dashboard-login-img1{
        margin-top: 30%;
        width: 10em;
    }
    .div-dashboard-login-tit1{
        margin-top: 1em;
        font-family: 'caviar';
        font-size: 2.5em;
    }

    .div-dashboard-login-usuario{
        width: 48%;
        font-family: 'caviar';
        font-size: 15px;
        margin-top: 5em;
        border: none;
        border-bottom: 1px solid #000;
    }

    .div-dashboard-login-senha{
        width: 48%;
        font-family: 'caviar';
        font-size: 15px;
        margin-top: 1em;
        border: none;
        border-bottom: 1px solid #000;
    }

    .div-dashboard-login-erro{
        margin-top: 2em;
    }

    .div-dashboard-bt{
        font-family: 'caviar';
        font-size: 20px;
        width: 50%;
        margin-top: .3em;
        color: #FFFFFF;
        background-color: #000000;
        
        border: 0px;
        cursor: pointer;
    }

    .div-dashboard-desc2{
        width: 9em;
        height: 13px;
        margin-top: 1em;
        margin-right: 31%;
        font-family: 'caviar';
        font-size: 0.7em;
    }

    .div-dashboard-desc3{
        width: 9em;
        height: 13px;
        margin-top: 1em;
        margin-right: 31%;
        font-family: 'caviar';
        font-size: 0.7em;
    }

    .div-dashboard-desc4{
        width: 25%;
        height: 15px;
        margin-right: 70%;
        margin-top: 60%;
        font-family: 'caviar';
        font-size: .8em;
    }
        
    .div-imagem-1{
        filter: blur(2px);
        width: 100%;
        border: 1px solid black;
    }

    @media(max-width: 414px){
        .main-login{
            width: 414px;
            height: 100%;
            border: 1px solid black;
        }
        .section-login{
            display: flex;
            flex-direction: row;
            margin-left: 12%;
            
        }
        .div-dashboard-login{
            display: flex;
            align-items: center;
            margin-left: -3em;
            height: 110%;
            width: 100%;
        }
        .div-dashboard-login-img1{
            margin-left: 2em;
        }
        .div-dashboard-login-tit1{
            text-align: center;
            margin-left: 1em;
            width: 8em;
        }

        .div-dashboard-login-usuario{
            width: 60%;
            margin-left: 2em;
        }
    
        .div-dashboard-login-senha{
            width: 60%;
            margin-left: 2em;
        }   

        .div-dashboard-bt{
            width: 65%;
            margin-left: 1.5em;
        }
    
        .div-dashboard-desc2{
            margin-left: 1.5em;
        }
    
        .div-dashboard-desc3{
            margin-left: 1.5em;
        }


        .div-imagem-1{
            display: none;
        }
        .div-dashboard-desc4{
           width: 50%;
           margin-top: 0%;
           margin-left: 8em;
        }
    }

}