@import url('https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&display=swap');

@font-face {
    font-family: 'inter' ;
    src: url('https://fonts.googleapis.com/css2?family=Inter&family=K2D:wght@300&display=swap');
}

@font-face {
    font-family:'caviar' ;
    src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
    font-family:'caviar-bold' ;
    src: url('../fonts/CaviarDreams_Bold.ttf');
}

@font-face {
    font-family:'caviar-bold-italic' ;
    src: url('../fonts/CaviarDreams_BoldItalic.ttf');
}

@font-face {
    font-family:'caviar-italic' ;
    src: url('../fonts/CaviarDreams_Italic.ttf');
}

@font-face {
    font-family: 'logo-font';
    src: url('../../assets/fonts/tall-films/TallFilmFine.ttf');
}

* {
    margin: 0px;
    //border: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: #1B130D;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}