.main-carrinho{
    display: flex;
    flex-direction: column;
    .section-carrinho-principal{
        display: flex;
        flex-direction: column;
    }

    .div-carrinho-titulo{
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
    .carrinho-h1-titulo{
        font-size: 2em;
        font-family: 'caviar';
    }

    .div-carrinho-informações{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
    .carrinho-div-informações-prod{
        display: flex;
        flex-direction: column;
    }
    
    .div-carrinho-infoPag{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 22em;
        height: 33em;
        background-color: #ffb7000e;
    }
    .div-carrinho-logoModelle{
        margin-left: 1em;
        margin-top: -1em;
    }
    .carrinho-logo-modelle{
        width: 10em;
        height: 11.5em;
    }
    .div-carrinho-info-Prazo{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }
    .carrinho-logo-frete{
        width: 2em;
        height: 1.5em;
        margin-right: 1.3em;
    }
    .carrinho-p-prazo{
        margin-top: -1em;
        font-size: 1em;
        font-family: 'caviar';
    }
    .carrinho-p-infoFrete{
        font-size: .7em;
        margin-top: .4em;
        margin-left: .4em;
        opacity: 70%;
        font-family: 'caviar';
    }

    .div-carrinho-info-formasPagamento{
        display: flex;
        flex-direction: row;
        margin-top: 3em;
        margin-right: 5em;
    }
    .carrinho-logo-pagamento{
        width: 2em;
        height: 1.5em;
        margin-right: 1.3em;
    }
    .carrinho-p-formas{
        margin-top: -.7em;
        font-size: 1em;
        font-family: 'caviar';
    }
    .carrinho-p-infoPagamento{
        font-size: .7em;
        margin-top: .4em;
        opacity: 70%;
        font-family: 'caviar';
    }
    .div-carrinho-info-subtotal{
        display: flex;
        flex-direction: row;
        margin-top: 3em;
        margin-left: 1em;
    }
    .carrinho-p-subtotal{
        font-size: 1em;
        font-family: 'caviar';
        font-weight: 500;

    }
    .div-carrinho-valor-subtotal{
        display: flex;
        flex-direction: row;
        margin-left: 6em;
    }
    .carrinho-p-textSubtotal-valor{
        font-size: 1em;
        font-family: 'caviar';
        font-weight: 500;
    }
    .carrinhho-valor-subtotal{
        margin-left: 1em;
        font-size: 1em;
        font-family: 'caviar';
        opacity: 80%;
        font-weight: 500;
    }
    .div-carrinho-info-total{
        display: flex;
        flex-direction: row;
        margin-left: 1em;
        margin-top: .5em;
    }
    .div-carrinho-valor-total{
        display: flex;
        flex-direction: row;
        margin-left: 8em;
    }
    .carrinho-p-textTotal-valor{
        font-size: 1em;
        font-family: 'caviar';
        font-weight: 500;
    }
    .carrinhho-valor-total{
        opacity: 80%;
        margin-left: 1em;
        font-size: 1em;
        font-family: 'caviar';
        font-weight: 500;
    }
    .div-carrinho-info-continuar{
        margin-top: 1em;
        margin-left: 1em;
    }
    .carrinho-botão-continuar{
        width: 20em;
        height: 3em; 
        background-color: #fff;
        transition: 170ms ease-in-out;
    }
    .carrinho-botão-continuar:hover {
        background-color: #19110B;
        color: white;
        cursor: pointer;
    }

}