.main-CardProdutosMenuMasculino{
    display: flex;
    flex-direction: column;

    .CardProdutosMenuMasculino-div-imgs{
        display: flex;
        flex-direction: column;
    }
    .logo-coração{
        width: 1.1em;
    }
}
