.main-cardEmDestaque{
    display: flex;
    flex-direction: column;
    .section-cardEmDestaque{
        display: flex;
        flex-direction: column;
    }
    .div-titulo-cardEmDestaque{
        display: flex;
        flex-direction: row;
    }
    .titulo-cardEmDestaque{

    }


    .div-escolher-painelEditar{

    }


    
}