.main-menuUsuario{
    display: flex;
    flex-direction: column;

    .MenuMasculino-div-MeusPedidos-Titulo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 55%;
    }

    .MenuMasculino-div-titulo{
        margin-top: 1.5em;
    }
    .MenuMasculino-div-titulo h1{
        font-size: 2em;
        font-family: 'caviar';
        font-weight: 100;
    }

    .filtro-titulo{
        margin-top: .4em;
        margin-left: 1em;
        margin-bottom: .5em;
    }
    .filtro-titulo h1{
        font-family: 'caviar';
        font-size: 1.5em;
        font-weight: 600;
    }

    .filtro-marca{
        margin-left: 1em;
    }
    .div-tituloMarcas h1{
        font-size: 1.3em;
        margin-left: .4em;
        margin-bottom: .2em;
    }
    .div-valoresMarcas{
        display: flex;
        flex-direction: row;
        margin-top: .4em;
        margin-left: 1em;
    }
    .div-valoresMarcas img{
        width: 18px;
    }
    .div-valoresMarcas p{
        font-size: 1em;
        font-family: 'caviar';
        margin-left: 1em;
    }
    .div-filtroCores{
        margin-left: 1em;
        margin-top: 1em;
    }
    .div-tituloCoresPrinciapis{
        font-size: 1em;
        margin-left: .4em;
        margin-bottom: .2em;
    }
    .div-tituloCoresPrinciapis h1{
        font-size: 1.3em;
        margin-left: .4em;
        margin-bottom: .2em;
    }

    .div-inputsCores{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 9em;
        width: 13em;
        margin-left: 1em;
    }

    .div-inputsCores input{
        width: 2em;
        margin-top: 1em;
        margin-left: .5em;

    }


    .filtro-Genero{
        margin-top: 1em;
        margin-left: 1em;
    }
    .div-tituloGenero h1{
        font-size: 1.3em;
        margin-left: .4em;
        margin-bottom: .2em;
    }
    .div-valoresGenero{
        display: flex;
        flex-direction: row;
        margin-top: .4em;
        margin-left: 1em;
    }
    .div-valoresGenero img{
        width: 18px;
    }
    .div-valoresGenero p{
        font-size: 1em;
        font-family: 'caviar';
        margin-left: 1em;
    }


    .filtro-Tamanho{
        margin-top: 1em;
        margin-left: 1em;
    }
    .div-tituloTamanho h1{
        font-size: 1.3em;
        margin-left: .4em;
        margin-bottom: .2em;
    }
    .div-valoresTamanho{
        display: flex;
        flex-direction: row;
        margin-top: .4em;
        margin-left: 1em;
    }
    .div-valoresTamanho img{
        width: 18px;
    }
    .div-valoresTamanho p{
        font-size: 1em;
        font-family: 'caviar';
        margin-left: 1em;
    }

    .filtro-roupas{
        margin-top: 1em;
        margin-left: 1em;
    }
    .div-tituloroupasDisponiveis{
        display: flex;
        flex-direction: row;
        margin-top: .4em;
    }
    .div-tituloroupasDisponiveis h1{
        font-size: 1.3em;
        margin-left: .4em;
        margin-bottom: .2em;
    }

    .div-roupasDisponiveis{
        margin-left: 1em;
    }

    .div-roupasDisponiveis p{
        font-size: 1em;
    }

    .MenuMasculino-div-titulo hr{
        width: 9em;
        margin-top: .2em;
        background-color: black;
    }
    .div-meusPedidos{
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        margin-left: 1em;
    }
    .div-meusPedidos img{
        width: 1.3em;
        height: 1.3em;
    }
    .div-meusPedidos p{
        font-family: 'caviar';
        font-size: 1em;
        font-weight: 400;
        margin-left: .5em;
    }


    .MenuMasculino-section{
        display: flex;
        flex-direction: column;
    }
    .MenuMasculino-div-filtroEcards{
        display: flex;
        flex-direction: row;
    }
    .div-filtroRoupas{
        width: 15em;
        height: 63em;
        max-height: 63em;
        margin-top: 2em;
        border: none;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    }

    .div-cards-Roupas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 85em;
        max-height: 85em;
        margin-top: 2em;
        margin-bottom: 1em;
        margin-left: 2em;
    }
    .div-CardsProd{
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 1em;
    }

    .Menu-div-buttomVerMais{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .Menu-div-buttomVerMais button{
        border: none;
        background-color: #ffffff;  
        margin-bottom: 3em;
    }


    .div-cardsEmDestaque{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30%;
        margin-bottom: 3em;
    }
    .div-cardEmDestaque-Img01 img{
        width: 25em;
    }
    .div-cardEmDestaque-Img01 h3{
        font-family: 'caviar';
        font-size: .7em;
        width: 32em;
        font-weight: 900;
        margin-top: .8em;
        margin-left: 1em;
    }



    .div-cardEmDestaque-Img02{
        margin-left: 3em;
    }
    .div-cardEmDestaque-Img02 img{
        height: 94%;
        margin-bottom: -3.8em;
    }
    .div-cardEmDestaque-Img02 h3{
        font-family: 'caviar';
        font-size: .7em;
        font-weight: 900;
        margin-left: 1em; 
    }
    .div-hr-card-Destaque{
        display: flex;
        justify-content: center;
        width: 40em;
    }
    .div-carrossel{
        width: 100%;
        height: 70vh;
    }

    .img-next{
        width: 18px;
    }

}