.main-condições-principal{
    display: flex ;
    flex-direction: column;

    .condições-section-principal{
        display: flex;
        flex-direction: column;
    }
    .div-titulo-btn{
        display: flex;
        flex-direction: row; 
    }
    .condições-div-botão{
        margin-top: 1em;   
        margin-left: 2em;
    }
    .condições-botão-voltar{
        background-color: black;
        color: #fff;
        text-align: center;
        font-size: 1em;
        font-family: 'caviar';
        width: 6em;
        height: 2em;
    }
    .condições-div-titulo{
        margin-top: 4em;
        width: 25%;
        margin-left: 25%;
    }
    .condições-div-titulo h1{
        font-size: 2em ;
        font-family: 'caviar';
        text-align: center;
        font-weight: 100;  
    }
    .condições-div-text{ 
        background-color: #F4F4F4;
        margin-left: 5em;
        margin-right: 4em;
        margin-top: 2em;
        margin-bottom: 3em;
    }
    .condições-text-condições{
        font-family: 'caviar';
        margin-top: 3em;
        margin-bottom: 3em;
        margin-left: 5em;
        margin-right: 3em;
        line-height: 2em;
        text-align: start;
    }

    @media(max-width: 414px){

        .div-titulo-btn{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .condições-botão-voltar{
            text-align: center;
            font-size: .6em;
            width: 4em;
            height: 2em;
        }
        .condições-div-titulo{
            margin-top: 2em;
            margin-left: 6em;
            width: 60%;
        }
        .condições-div-titulo h1{
            font-size: 1.5em;
            width: 90%;
        }
        .condições-div-text{
            width: 90%;
            margin-left: 1.5em;
        }  
        .condições-text-condições{
            margin-top: 1.5em;
            margin-bottom: 3em;
            margin-left: 3em;
            margin-right: 2em;
        }
    }
}