.main-carrossel-landingPage{
    transition: all 0.4s;
    overflow: hidden;
    width: 100%;
    div{
        display: flex;
        margin-top: 3em;
    } 
    .slides{
        margin-left: 15%;
    }
    .slides-2{
        margin-left: 20%;
    }
    .slides-3{
        margin-left: 18%;
    }
    .img-01{
        transition: transform .8s ease;
        margin-left: 5%;
    }
    .img-01:hover{
        transform: scale(1.04);
    }

    .div-01 {
        display: flex;
        flex-direction: column;
        margin-left: 13%;

        .h1-01 {
            font-family: 'inter';
            font-size: 2em;
            color: black;
            margin-bottom: .3em;
        }

        .h3-01 {
            font-family: 'caviar';
            font-size: 26px;
        }

        .p1-01 {
            font-family: 'caviar';
            font-size: 1em;
            margin-top: 3em;
            margin-bottom: 3em;
        }

        .p2-01 {
            font-family: 'caviar';
            font-size: 12px;
            width: 47%;
            margin-bottom: 4em;
        }
        .link-01 {
            font-family: 'caviar';
            text-align: center;
            color: white;
            background-color: black;
            width: 10%;
            transition: .8s;
            padding: .7em 1.2em .7em 1.2em;
            cursor: pointer;
        }
        .link-01:hover{
            transform: scale(1.1);
            color: #000000;
            background-color: #ffffff;
            border: 1px solid black;
        }
    }

    .img-02{
        width: 32%;
        height: 25%;
        transition: transform .5s ease; 
    }
    .img-02:hover{
        transform: scale(1.04);
    }
    .img-03{
        width: 33%;
        height: 25%;
        transition: transform .5s ease; 
    }
    .img-03:hover{
        transform: scale(1.04);
    }
}