.main-gerenciarProd{
    display: flex;
    flex-direction: column;
    
    .div-input-buscar{
        display: flex;
        flex-direction: row;
    }
    .div-linha-titulos{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .gerenciarProd-input-buscar{
        margin-top: -3em;
        margin-left: 3em;
        border-radius: 1px;
        border: none;
        width: 12em;
        height: 2em;
    }
    .logo-buscar{
        position: absolute;
        margin-left: 11.2em;
        padding-top: 3em;
        color: #000;
        margin-top: -5.2em;
        height: 1.2em;
    }


    .div-titulo-gerenciar{
        display: flex;
        align-items: center;
        text-align: center;
    }
    .gerenciarProd-titulo{
        display: flex;
        align-items: center;
        margin-top: 1em;
        font-family: 'caviar';
        font-style: normal;
        font-weight: 100 ;
        width: 10em;
        margin-left: 5em;
        font-size: 30px;
    }

    .div-titulo-gerenciar{
        display: flex;
        flex-direction: column;
    }
    
    .div-nome-mes{
        display: flex;
        flex-direction: row;

    }
    .gerenciarProd-fevereiro{
        font-family: 'caviar';
        font-size: 15px;
        margin-top: 1em;
        margin-bottom: .3em;
        margin-right: 6em;
    }
    .gerenciarProd-logo-buscar{
        position: absolute;
        height: .8em;
        width: 1em;
        color: #000;
        margin-left: 4.5em;
        margin-top: 1.2em;

    }


    .select-mes{
        margin-right: 3em;
        
    }
    .input-mes{
        font-family: 'caviar';
        font-weight: 400;
        font-size: 12px;

        border: none;
        border-bottom: 1.8px solid #000;
    }

    .select-ano{
        margin-right: 3em;
    }
    .input-ano{
        font-family: 'caviar';
        font-weight: 400;
        font-size: 12px;

        border: none;
        border-bottom: 1px solid #000;
    }


    .div-linha-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}