.cab{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    background: #F9F9F9;

    .cab-admin{
        width: 15%;
        .cab-admin-img{
            position: relative;
            top: 1.7em;
            left: 2em;
        }
        .cab-admin-user{
            position: relative;
            top: 1.5em;
            left: 3em;
        }
    }

    .cab-canvas{
        margin-top: 1.5em;

        .cab-canvas-gerenc{
            margin-right: 2em;
            background-color: #19110B;
            padding: 0.5em;
            margin-right: 1em;
            color: #fff;
            border-radius: .5em;
            width: 9em;
 


            line-height: normal;

            height: 2.3125rem; 

            .cab-canvas-dc{
                text-align: center;
                padding: 5em;
            }
        }

        .cab-canvas-event{
            background-color: #19110B;
            padding: 0.5em;
            color: #fff;
            border: 0px solid #19110B;

            
            background-position: 100% center;

            font-size: 0.875rem;
            line-height: normal;
            border-radius: .5em;
            height: 2.3125rem; 

            text-align: center;
        }
    }

    .cab-exit{
        display: flex;
        align-items: center;
        .cab-exit-1{
            width: 22px;
            height: auto;
        }
    }
}