.cab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1280px;
    height: 80px;

    background: #F9F9F9;

    .cab-admin{
        .cab-admin-img{
            position: absolute;
            left: 2.34%;
            right: 96.15%;
            top: 2.87%;
            bottom: 94.96%;
        }
        .cab-admin-user{
            position: absolute;
            left: 56px;
            top: 32px;

            font-family: 'inter';
            font-size: 14px;
        }
    }

    .cab-canvas{
        margin-top: 1.5em;

        .cab-canvas-gerenc{
            margin-right: 2em;
            background-color: #19110B;
            padding: 0.5em;
            color: #fff;
            border: 0px solid #19110B;
            border-radius: 1em solid #19110B;
            width: 9em;
 

            -webkit-appearance: none !important;
            -webkit-border-radius: 0px;
            line-height: normal;

            height: 2.3125rem; 

            .cab-canvas-dc{
                text-align: center;
                padding: 5em;
            }
        }

        .cab-canvas-event{
            background-color: #19110B;
            padding: 0.5em;
            color: #fff;
            border: 0px solid #19110B;

            -webkit-appearance: none !important;
            background-position: 100% center;

            font-size: 0.875rem;
            line-height: normal;
            border-radius: 0;
            height: 2.3125rem; 

            text-align: center;
        }
    }

    .cab-exit{
        .cab-exit-1{
            position: absolute;
            width: 22px;
            height: 20px;
            left: 1209px;
            top: 30px;
        }
    }
}