.cab{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   
    background: #F9F9F9;
    .cab-admin{
        width: 15%;
        .cab-admin-img{
            position: relative;
            top: 1.5em;
            left: 2em;
        }
        .cab-admin-user{
            position: relative;
            top: 1.2em;
            left: 3em;
        }
    }

    .cab-canvas{
        margin-top: 1em;
        margin-bottom: 1em;
        .cab-canvas-gerenc{
            margin-right: 2em;
            border: 2px solid black;
            color: #19110B;
            border-radius: .5em;
            width: 9em;
            transition: .2s all ease-in-out;

            line-height: normal;

            height: 2.3125rem; 

            .cab-canvas-dc{
                text-align: left;
                padding: 5em;
                background-color: white;
                color: #19110B;
                font-family: 'inter';
            }
            
        }
        .cab-canvas-gerenc:hover {
            background-color:#19110B;
            color: white;
            cursor: pointer;
        }
        .cab-canvas-event{
            padding: 0.5em;
            color: #19110B;
            border: 2px solid #19110B;

            transition: .3s all ease-in-out;

            background-position: 100% center;

            font-size: 0.875rem;
            line-height: normal;
            border-radius: .5em;
            height: 2.3125rem; 

            text-align: center;
        }

        .cab-canvas-event:hover {
            background-color: #19110B;
            color: white;
            cursor: pointer;
        }
    }

    .cab-exit{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12em;
        .cab-exit-1{
            width: 22px;
            height: auto;
        }
    }
}