.main-carrossel{
    background-color: #F4F4F4;
    width: 100%;
    div{
        display: flex;
        margin-top: 1em;
    } 

    img{
        margin-top: 2em;
    }

    img:hover{
        transform: scale(1.05);
        transition: 1s;
    }
    .img-01{
        transition: transform .5s ease; 
        box-shadow: 5px 3px 5px #c7c7c7;
    }
    .img-02{
        width: 17em;
        height: 28em;
        
        box-shadow: 5px 3px 5px #c7c7c7;
        transition: transform .5s ease; 
    }
    .img-03{
        width: 18em;
        height: 28em;
        box-shadow: 5px 3px 5px #c7c7c7;
        transition: transform .5s ease; 
    }

    .div-textoCarrousel{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: -2em;
    }
    .div-textoCarrousel h1{
        font-family: 'caviar-bold';
        font-size: 2em;
        text-align: center;
        width: 10em;
    }
    .div-textoCarrousel{
        font-family: 'caviar-bold';
        font-size: 1em;
        text-align: center;
    }


    @media(max-width: 414px){
       
    }
}
