.main-landingpage {
    display: flex;
    flex-direction: column;

    a:link,
    a:visited {
        color: white;
        text-decoration: none;
    }

    .landingpage-section1 {
        display: flex;
        background-image: url('../../../assets/image/landing-image1.png');
        background-repeat: no-repeat;
        height: 44em;


        .section1-groups {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            .section1-group-esquerda {
                display: flex;
                flex-direction: column;
                width: 50%;
                justify-content: space-between;


                .section1-div-logo {
                    display: flex;
                    justify-content: flex-start;
                    margin-left: 7.5em;
                }

                .section1-div1-agrupamento {
                    display: flex;
                    justify-content: flex-start;
                    margin-left: 4.5em;

                    .section1-div1 {
                        font-family: 'inter';
                        font-size: .7em;
                        color: white;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        width: 45%;


                        .section1-div1-nov, .section1-div1-hom, .section1-div1-mul {
                            background-image: linear-gradient(transparent 0%, transparent 90%, #fff 20%, #fff 20%);
                            background-repeat: no-repeat;
                            background-size: 0% 100%;
                            background-position-x: center;
        
                            transition: background-size 500ms;
                        }
                        
                        .section1-div1-nov:hover, .section1-div1-hom:hover, .section1-div1-mul:hover {
                            color: white;
                            transition: 500ms;
                            background-size: 100% 100%;
                            background-position-x: center;
                        }
                    }
                }



                .section1-div2 {
                    margin-bottom: 5em;

                    .section1-div2-p1 {
                        font-family: 'caviar';
                        font-size: 2.5em;
                        color: white;
                        margin-bottom: 1em;
                        margin-left: 0.7em;
                        width: 50%;
                        text-align: center;
                    }

                    .section1-div2-link {
                        font-family: 'caviar';
                        color: white;
                        border: 1px solid white;
                        padding: .5em 3em;
                        transition: .3s;
                        margin-left: 4em;
                    }

                    .section1-div2-link:hover {
                        background-color: white;
                        color: #BA918F;
                    }

                    .section1-div2-p2 {
                        font-family: 'caviar';
                        color: white;
                        margin-top: 1em;
                        margin-left: 6em;
                        font-size: .7em;
                    }

                }

            }

            .section1-group-direita {


                .section1-group-direita-div1 {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 2em;
                    margin-right: 10em;
                    width: 80%;

                    .section1-group-direita-div1-group {
                        display: flex;

                        .section1-group-direita-div1-iconCarrinho {
                            font-family: 'inter';
                            font-size: .8em;
                            color: white;
                            position: relative;
                            bottom: .8em;
                            border-radius: 100%;
                        } 
                    }

                }
            }



        }


    }

    .section-video {
        display: flex;
        flex-direction: row;

        .video {
            display: flex;
            position: absolute;
    
        }

        .text-info{
            display: flex;
            align-items: flex-end;
            position: absolute;
            font-family: 'caviar-bold';
            color: white;
            height: 60%;
            left: 0.9em;
            margin-top: 3em;
       
        }
        .bt{
            font-family: 'inter';
            position: absolute;
            color: white;
            border: 1px solid white;
            padding: .5em 1em;
            transition: .3s;
        }
        .by{
            font-family: 'inter';
            margin-left: 9.8em;
            color: white;
            border: 1px solid white;
            padding: .5em 1em;
            transition: .3s;
        }

        .bt:hover{
            background-color: white;
            color: #BA918F;
        }

        .by:hover{
            background-color: white;
            color: #BA918F;
        }

       

        .a {
            display: flex;
            align-items: flex-end;
            position: absolute;
            height: 65%;
            left: 1em;
            margin-top: 5em;
           
        }
    }

}