.main-login{
    display: flex;
    flex-direction: column;

    .login_section1{
        display: flex;
    
    }

    .section1-img-modelo-div {
        border: 1px solid black;
        display: flex;
        width: 55.4%;
        position: relative;
        left: 35em;
    }

    .section1-img-modelo {
        height: 100%;
        width: auto;
    }

    .login-div1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10em;
        border: 1px solid black;
        width: 50%;
    }








}