.main-cadastro{
    display: flex;
    flex-direction: column;
    
    .div-cadastro-column-01{
        display: flex;
        flex-direction: column;
        
    }
    .div-dashboard-cadastro-pricipal{
        display: flex;
        flex-direction: column;
    }
    .titulo-cadastro{
        position: absolute;
        width: 100%;
        height: 57px;
        top: 87px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 41px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #19110B;
    }
    .div-dashboard-cadastro-inputs{
        display: flex;
        flex-direction: row;
    }
    .div-cadastro-titulo-addfoto{
        display: flex;
        flex-direction: row;
        
        position: absolute;
        width: 200px;
        height: 20px;
        left: 237px;
        top: 171px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;


    }
    .div-cadastro-titulo-addfoto p {
        margin-right: 0.5em;
    }
    .div-cadastro-titulo-addfoto img {
      margin-left: 0.4em;
    }
    .cadastro-input-img-1{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 236px;
        top: 199px;

        background: #F8F8F8;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .cadastro-input-img-2{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 475px;
        top: 269px;

        background: #F8F8F8;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .cadastro-input-img-2 img{
        width: 18.38px;
        height: 18.37px;
        top: 219.88px;
        left: 495.88px;
        position: absolute;
        left: 38.74%;
        right: 59.82%;
        top: 21.47%;
        bottom: 76.73%;
    }
    .cadastro-input-img-3{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 475px;
        top: 339px;

        background: #F8F8F8;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .cadastro-input-img-3 img{
        width: 18.38px;
        height: 18.37px;
        top: 219.88px;
        left: 495.88px;
        position: absolute;
        left: 38.74%;
        right: 59.82%;
        top: 21.47%;
        bottom: 76.73%;
    }
    .cadastro-input-img-4{
        position: absolute;
        width: 60px;
        height: 60px;
        left: 475px;
        top: 199px;

        background: #F8F8F8;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .cadastro-input-img-4 img{
        width: 18.38px;
        height: 18.37px;
        top: 219.88px;
        left: 495.88px;
        position: absolute;
        left: 38.74%;
        right: 59.82%;
        top: 21.47%;
        bottom: 76.73%;
    }
    .cadastro-input-img-2 img{
        position: absolute;
        left: 38.74%;
        right: 59.82%;
        top: 21.47%;
        bottom: 76.73%;

    }
    .div-dashboard-cadastro-composição{
        display: flex;
        flex-direction: row;
    }
    .cadastro-input-detalhes{
        position: absolute;
        width: 20em;
        height: 20px;
        left: 220px;
        top: 553px;
        
        font-family: 'caviar';
        font-size: 12px;
        line-height: 14px;

        border: 0px;
        border-bottom: 1px solid #000;
    }
    .cadastro-input-detalhes-2{
        position: absolute;
        width: 20em;
        height: 20px;
        left: 220px;
        top: 595px;
        
        font-family: 'caviar';
        font-size: 12px;
        line-height: 14px;

        border: 0px;
        border-bottom: 1px solid #000;
    }
    .cadastro-input-detalhes-3{
        position: absolute;
        width: 20em;
        left: 220px;
        top: 580px;
        
        font-family: 'caviar';
        font-size: 12px;
        line-height: 14px;

        border: 0px;
        border-bottom: 1px solid #000;
    }

    .cadastro-escolher-img-cl2{
        display: flex;
        flex-direction: column;
    }

    .div-dashboard-cadastro-marca{
        display: flex;
        flex-direction: column ;
    }
    .cadastro-input-composicao{
        position: absolute;
        width: 18em;
        left: 220px;
        top: 440px;
        display: flex;
        flex-wrap: wrap;
        max-width: 18em;
        min-width: 18em;
        max-height: 5em;
        min-height: 5em;
        font-family: 'caviar';
        font-size: 12px;
        line-height: 14px;
        border: 0px;

    }
    .hr{
        position: absolute;
        left: 221px;
        top: 458px;
        background-color: #000;
        width: 13.4em;
    }
    .cadastro-input-composicao-2{
        position: absolute;
        width: 20em;
        left: 220px;
        top: 460px;

        font-family: 'caviar';
        font-size: 12px;
        line-height: 14px;

        border: 0px;
        border-bottom: 1px solid #000;

    }
    .cadastro-input-composicao-3{
        position: absolute;
        width: 20em;
        left: 220px;
        top: 480px;

        font-family: 'caviar';
        font-size: 12px;
        line-height: 14px;

        border: 0px;
        border-bottom: 1px solid #000;

    }
    .cadastro-titulo-marcas{
        position: absolute;
        width: 50px;
        height: 14px;
        left: 220px;
        top: 700px;

        font-family: 'Caviar Dreams';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #19110B;
    }
    .cadastro-marcas-gucci{ 
        box-sizing: border-box;
        position: absolute;
        width: 71px;
        height: 27px;
        left: 216px;
        top: 730px;
        display: flex;
        align-items: center;
        text-align: center;

        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-balenciaga{
        box-sizing: border-box;
        position: absolute;
        width: 71px;
        height: 27px;
        left: 300px;
        top: 730px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-dolceEgabbana{
        box-sizing: border-box;
        position: absolute;
        width: 118px;
        height: 27px;
        display: flex;
        align-items: center;
        text-align: center;
        left: 390px;
        top: 730px;

        border: 1px solid #19110B;
        border-radius: 10px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .cadastro-marcas-burberry{
        box-sizing: border-box;
        position: absolute;
        width: 71px;
        height: 27px;
        left: 216px;
        top: 770px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-morley{
        box-sizing: border-box;
        position: absolute;
        width: 71px;
        height: 27px;
        left: 300px;
        display: flex;
        align-items: center;
        text-align: center;
        top: 770px;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-kenzo{
        box-sizing: border-box;
        position: absolute;
        width: 71px;
        height: 27px;
        left: 390px;
        display: flex;
        align-items: center;
        text-align: center;
        top: 770px;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-modelle{
        box-sizing: border-box;
        position: absolute;
        width: 67px;
        height: 27px;
        left: 480px;
        display: flex;
        align-items: center;
        text-align: center;
        top: 770px;
        border: 1px solid #19110B;
        border-radius: 10px; 
    }


    .cadastro-marcas-zegna{
        box-sizing: border-box;
        position: absolute;
        width: 71px;
        height: 27px;
        left: 216px;
        top: 810px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-louisvuitton{
        box-sizing: border-box;
        position: absolute;
        width: 108px;
        height: 27px;
        left: 300px;
        top: 810px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-prada{
        box-sizing: border-box;
        position: absolute;
        width: 108px;
        height: 27px;
        left: 425px;
        top: 810px;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-versace{
        position: absolute;
        width: 71px;
        height: 27px;
        left: 216px;
        top: 850px;
        display: flex;
        align-items: center;
        text-align: center;
        background: #19110B;
        border-radius: 10px;
    }
    .cadastro-marcas-apenasuma{
        position: absolute;
        width: 81px;
        height: 12px;
        left: 220px;
        top: 890px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 9px;
        color: #19110B;

    }



    .div-cadastro-column-02{
        display: flex;
        flex-direction: column;
    }

    .cadastro-cl2-camposobrigatorios{
        position: absolute;
        width: 128px;
        height: 15px;
        left: 705px;
        top: 166px;

        font-family: 'caviar';
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        text-align: center;
    }
    .cadastro-cl2-nomeProduto{
        position: absolute;
        width: 220px;
        height: 17px;
        left: 706px;
        top: 201px;

        font-family: 'caviar';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        border: none;
        border-bottom: 1px solid #000;
    }
    .logo-x-produto{
        position: absolute;
        left: 70.28%;
        right: 35.45%;
        top: 22.1%;
        bottom: 79.3%;
        width: .8em;
        right: .8em;

    }
    .logo-certo-produto{
        position: absolute;
        left: 71.7%;
        right: 18.6%;
        top: 22.1%;
        bottom: 79.2%;
        width: .8em;
        right: .8em;
    }

    .cadastro-cl2-complementoProduto{
        position: absolute;
        width: 220px;
        height: 17px;
        left: 705px;
        top: 237px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        border: 0px;
        border-bottom: 1px solid #000;
    }
    .logo-x-complemento{
        position: absolute;
        left: 70.28%;
        right: 35.45%;
        top: 26%;
        bottom: 79.3%;
        width: .8em;
        right: .8em;

    }
    .logo-certo-complemento{
        position: absolute;
        left: 71.7%;
        right: 18.6%;
        top: 26%;
        bottom: 79.2%;
        width: .8em;
        right: .8em;
    }

    .cadastro-cl2-valor{
        position: absolute;
        width: 220px;
        height: 21px;
        left: 705px;
        top: 270px;

        font-family: 'caviar';
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;

        border: 0px;
        border-bottom: 1px solid #000;
    }
    .logo-x-valor{
        position: absolute;
        left: 70.28%;
        right: 35.45%;
        top: 30%;
        bottom: 79.3%;
        width: .8em;
        right: .8em;

    }
    .logo-certo-valor{
        position: absolute;
        left: 71.7%;
        right: 18.6%;
        top: 30%;
        bottom: 79.2%;
        width: .8em;
        right: .8em;
    }

    .cadastro-div-valorProd{
        display: flex;
        flex-direction: row;

    }

    .cadastro-p-parcelas{
        position: absolute;
        width: 67px;
        height: 21px;
        left: 705px;
        top: 323px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .cadastro-input-parcelas{
        box-sizing: border-box;
        position: absolute;
        width: 55px;
        height: 20px;
        left: 705px;
        top: 345px;

        background: #F6F6F6;
        border: 1px solid #D5D5D5;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
    }


    .cadastro-p-juros{
        position: absolute;
        width: 28px;
        height: 21px;
        left: 825px;
        top: 323px; 

        font-family: 'Caviar Dreams';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    .cadastro-input-juros{
        box-sizing: border-box;
        position: absolute;
        width: 59px;
        height: 20px;
        left: 825px;
        top: 345px;

        background: #F6F6F6;
        border: 1px solid #D5D5D5;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
    }



    .cadastro-tamanhos{
        display: flex;
        flex-direction: column;
    }
    .cadastro-inputs-tamanhos{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;

        position: absolute;
        width: 27px;
        height: 27px;
        left: 704px;
        top: 439px;

        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-p-tamanhos{
        position: absolute;
        width: 67px;
        height: 21px;
        left: 704px;
        top: 408px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #19110B;
    }   
    .cadastro-input-tamanho-PP{
        position: absolute;
        width: 27px;
        height: 27px;
        margin-left: 2em;
        right: -.5px;
        border: none;
        top: -0.1em;
        display: flex;
        align-items: center;
        text-align: center;
        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-input-tamanho-P{
        position: absolute;
        width: 27px;
        height: 27px;
        left: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        border: none;
        background: #19110B;
        border-radius: 10px;
    }
    .cadastro-input-tamanho-M{
        position: absolute;
        width: 27px;
        height: 27px;
        left: 80px;
        display: flex;
        align-items: center;
        text-align: center;
        border: none;

        background: #19110B;
        border-radius: 10px;
    }
    .cadastro-input-tamanho-G{
        position: absolute;
        width: 27px;
        height: 27px;
        left: 125px;
        display: flex;
        align-items: center;
        text-align: center;

        border: 1px solid #19110B;
        border-radius: 10px;
    }
    .cadastro-input-tamanho-GG{
        position: absolute;
        width: 27px;
        height: 27px;
        left: 170px;
        display: flex;
        align-items: center;
        text-align: center;
        border: none;

        background: #19110B;    
        border-radius: 10px;
    }

    .div-cadastro-cores{
        display: flex;
        flex-direction: column;
    }
    .cadastro-p-cores{
        position: absolute;
        width: 67px;
        height: 21px;
        left: 710px;
        top: 502px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;

        color: #19110B;
    }
    .cadastro-cores-input{
        display: flex;
        flex-direction: row;
    }
    .cadastro-input-multicores{
        position: absolute;
        width: 27px;
        height: 27px;
        left: 705px;
        top: 527px;


    }
    .cadastro-input-cores-exemplo{
        position: absolute;
        width: 27px;
        height: 27px;
        left: 742px;
        top: 527px;

        background: #007FFF;
        border-radius: 10px;
        border: none;
    }   
    .cadastro-logo-addCor{
        position: absolute;
        left: 62%;
        right: 37.86%;
        top: 59%;
        bottom: 45.91%;
    }

    .div-cadastro-modelos{
        display: flex;
        flex-direction: column;
    }
    .cadastro-modelo-l1{
        display: flex;
        flex-direction: row;
    }
    .cadastro-modelo-l2{
        display: flex;
        flex-direction: row;
    }
    .cadastro-modelo-l3{
        display: flex;
        flex-direction: row;
    }

    .cadastro-p-modelo{
        position: absolute;
        width: 43px;
        height: 14px;
        left: 706px;
        top: 600px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #19110B;
    }

    .cadastro-modelo-camisa{
        position: absolute;
        width: 49px;
        height: 11px;
        left: 711px;
        top: 630px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;


        border: .8px solid #202020;
        border-radius: 10px;
        color: #19110B;
    }
    .cadastro-modelo-calca{
        position: absolute;
        width: 49px;
        height: 11px;
        left: 785px;
        top: 630px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        background: #000;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #FFFFFF;
    }
    .cadastro-modelo-bermuda{
        position: absolute;
        width: 55px;
        height: 11px;
        left: 858px;
        top: 630px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;
    }
    .cadastro-modelo-blusa{
        position: absolute;
        width: 49px;
        height: 11px;
        left: 935px;
        top: 630px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;
    }

    .cadastro-modelo-relogios{
        position: absolute;
        width: 49px;
        height: 11px;
        left: 711px;
        top: 660px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;
    }
    .cadastro-modelo-moletom{
        position: absolute;
        width: 49px;
        height: 11px;
        left: 785px;
        top: 660px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        background: #000;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #ffffff;
    }
    .cadastro-modelo-casaco{
        position: absolute;
        width: 55px;
        height: 11px;
        left: 858px;
        top: 660px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;
    }
    .cadastro-modelo-sueter{
        position: absolute;
        width: 49px;
        height: 11px;
        left: 935px;
        top: 660px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;
    }
    .cadastro-modelo-polo{
        position: absolute;
        width: 49px;
        height: 11px;
        left: 711px;
        top: 690px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;
    }

    .div-cadastro-categoria{
        display: flex;
        flex-direction: column;
    }
    .cadastro-p-categoria{
        position: absolute;
        width: 67px;
        height: 21px;
        left: 706px;
        top: 740px;

        font-family: 'caviar';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;

        color: #19110B;

    }
    .cadastro-categoria-linha{
        display: flex;
        flex-direction: row;
    }
    .cadastro-categoria-masculino{
        position: absolute;
        width: 67px;
        height: 11px;
        left: 705px;
        top: 770px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;
    }
    .cadastro-categoria-Feminino{
        position: absolute;
        width: 63px;
        height: 11px;
        left: 809px;
        top: 770px;

        border: none;
        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;
        background: #000;

        color: #FFFFFF;

    }
    .cadastro-categoria-Novidades{
        position: absolute;
        width: 61px;
        height: 11px;
        left: 900px;
        top: 770px;

        padding: .4em;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        border: .8px solid #202020;
        border-radius: 10px;

        color: #19110B;

    }


    .cadastro-btn-salvar{
        position: absolute;
        width: 80px;
        height: 27px;
        left: 931px;
        top: 800px;

        padding: .6em;
        background: #19110B;
        border-radius: 10px;
        width: 80px;
        height: 15px;
        left: 706px;
        top: 830px;
        text-align: center;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        border: .8px solid #202020;
        border-radius: 15px;
        

        color: #FFFFFF;


    }   


}