.main-carrinho-produtos{
    display: flex;
    flex-direction: column;
    .div-carrinho-infoProd{
        display: flex;
        flex-direction: row;
        margin-right: 5em;
        margin-top: 3em;
        width: 43em;
        height: 24em;
    }
    .quebra-hr{
        margin-left: 3em;
        width: 40em;
    }
    .carrinho-div-imgProd{
        margin-top: .5em;
        margin-right: 1em;
        width: 15em;
        height: 15em;
    }

    .carrinho-div-imgProd-img {
        width: 15em;
        height: 15em;
    }
    .div-carrinho-informações{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40vh;
    }
    .carrinho-div-informações-prod{
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .div-carrinho-infromações-id{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 28em;

        .carrinho-img-remover{
            width: 2em;
            height: 2em;

            cursor: pointer;
            transition: .2s;
        }
        .carrinho-img-remover:hover{
            width: 3em;
            height: 3em;
        }
    }
    .carrinho-p-ID{
        font-size: .7em;
        font-family: 'caviar';          
    }
    .carrinho-p-info-id{
        font-size: .7em;
        font-family: 'caviar';
        margin-left: 1em;
    }
        
    .div-carrinho-informações-tituloProd{
        margin-top: .5em;
    }

    .div-carrinho-informacoes-complemento {
        font-family: 'caviar';
    }
    .carrinho-nomeProd{
        font-size: 1.3em;
        font-style: bold;
        font-family: 'caviar';
    }

    .div-carrinho-informações-corProd{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }
    .carrinho-textCor{
        font-size: 1em;
        font-family: 'caviar';
    }
    .carrinho-valorCor{
        margin-left: 5em;
        width: 2em;
        border: none;
    }
    

    .div-carrinho-informações-tamanho{
        display: flex;
        flex-direction: row;
    }
    .carrinho-textTamanho{
        font-size: 1em;
        font-family: 'caviar';         
    }
    .carrinho-div-img-prod{
        
    }

    .div-carrinho-informaões-qtdProd{
        display: flex;
        flex-direction: row; 
        margin-top: 3.5em;
        font-family: 'caviar';
        align-items: center;

        .div-carrinho-informacoes-subtotal {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'caviar';
        }
    }
    .carrinho-div-input-qtd{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 4em;
        margin-left: 1em;
        width: 3em;

        .carrinho-div-input-qtd-mais {
            cursor: pointer;
            font-size: 1.5em;
            margin-right: .3em;
        }

        .carrinho-div-input-qtd-resultado {
            font-family: 'caviar';
        }

        .carrinho-div-input-qtd-menos {
            cursor: pointer;
            font-size: 1.5em;
            margin-left: .3em;
        }
    }
    .carrinho-diminuir-qtd{
        margin-top: .2em;
        font-size: 2em;
        margin-right: .3em;
        padding-bottom: .5em;
        opacity: 80%;
    }
    .carrinho-input-qtd{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: .8em;
        width: 6em;
        height: 2.5em;
        opacity: 80%;
        border: 1px solid black;
    }
    .carrinho-aumentar-qtd{
        margin-top: .2em;
        font-size: 2em;
        margin-left: .1em;
        padding-bottom: .2em;
        opacity: 80%;
    }

    .div-carrinho-valorProd{
        display: flex;
        flex-direction: row;
        margin-top: .8em;
    }
    .carrinho-textValor{
        font-size: 1.5em;
        font-family: 'caviar';
        margin-top: .6em;
        opacity: 70%;
    }
    .carrinho-valorProd{
        font-size: 1.5em;
        opacity: 70%;
        font-family: 'caviar';
        margin-top: .6em;
        margin-left: .5em;
    }
}