.main-listaDeDesejos{
    display: flex ;
    flex-direction: column;

    .listaDeDesejos-section-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Div-listaDeDesejos-titulo{
        margin-top: 3em;
        margin-bottom: 2em;
    }
    .Div-listaDeDesejos-titulo h1{
        font-size: 2em;
        font-family: 'caviar';
    }
    .Div-listaDeDesejos-card{
        
    }
}