.cab-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: absolute;
    width: 1280px;
    height: 104px;
    left: 0px;
    top: 0px;

    background: linear-gradient(90.04deg, #8B7CA1 0.07%, #E7CB83 120.16%);
    
        .cab-user-txt{
            position: absolute;
            width: 139px;
            height: 53px;
            left: 27px;
            top: 31px;
            
            .cab-user-txt-1{
                padding-left: 2px;
                color: white;
                font-family: 'logo-font';
                font-weight: 400;
                font-size: 2.5em
                ;
                
            }
        }
    .cab-user-logo{
        position: absolute;
        width: 58px;
        height: 40px;
        left: 571px;
        top: 10px;
    }
    .cab-user-divisoria{
        position: absolute;
        width: 300px;
        height: 1px;
        left: 450.5px;
        top: 56px;
        
        background: #D9D9D9;
    }

    .cab-topic{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        width: 220px;
        height: 32px;
        left: 490.5px;
        top: 68px;

        font-family: 'caviar';
        font-size: 12px;
        color: #D9D9D9;
    }
    
    .cab-user-logo-lupa{
        position: absolute;
        left: 66.33%;
        right: 32.89%;
        top: 50%;
        bottom: 98.43%;
    }
    .cab-user-txt-2{
        position: absolute;
        width: 44px;
        height: 17.96px;
        left: 865px;
        top: 49.57px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        
        color: #FFFFFF;
    }

    .cab-user-lista{
        position: absolute;
        width: 95px;
        height: 15.85px;
        left: 934px;
        top: 49.57px;

        font-family: 'inter';
        font-size: 12px;
        line-height: 15px;

        color: #FFFFFF;
    }
    .cab-user-lista-img{
        position: absolute;
        width: 21px;
        height: 22.19px;
        left: 1038px;
        top: 42.77px;
    }

    .cab-user-carrinho{
        position: absolute;
        width: 21px;
        height: 21px;
        left: 1090px;
        top: 44px;
    }

    .cab-user-carrinho-div{
        position: absolute;
        width: 18px;
        height: 18px;
        left: 1111px;
        top: 38.19px;

        background: #FFFFFF;
        border-radius: 50em;

        .cab-user-carrinho-num{
            color: #E7CB83;
            position: absolute;
            bottom: -0.05em;
            left: 0.3em;
        }
    }

    .cab-user-nome{
        position: absolute;
        width: 83px;
        height: 9px;
        right: 1em;
        top: 50px;
        
        font-family: 'caviar';
        font-size: 12px;
        line-height: 15px;
        
        color: #FFFFFF;
    }

    .cab-user-img{
        position: absolute;
        left: 96.48%;
        right: 2.01%;
        top: 42.07%;
        bottom: 98.38%;
    }


}